@import "tailwindcss";

:root {
	--primary: #ffffff;
	--secondary: #171717;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--font-sans: var(--font-dm-sans);
	--font-serif: var(--font-dm-serif);
}

body {
	@apply bg-primary font-sans text-secondary;
}

/* Custom WebKit Scrollbar styling */
::-webkit-scrollbar {
	width: 0px;
}
::-webkit-scrollbar-thumb {
	background: var(--primary);
}
::-webkit-scrollbar-button {
	display: none;
}
